.App {
  text-align: left;
  width: 98%;
  margin: auto;
  margin-top: 10px;
  /* border: 1px solid red; */
  /* margin-left: 10px; */
  background-color: lightgray;
}

.done {
  /* text-decoration: line-through; */
  background-color: lightyellow;
}
#Header{
  font-size: 20px;  
  text-align: left;
  /* background-color: green; */
  /* color: white; */
  font-weight: none;
}
ol{
  text-align: left;
}
input{
  width: 50%;
  margin: 10px;
  height: 30px;
  border-radius: 5px;
}

button{
  width: 10%;
  height: 70px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 15px;
  /* height: 30px; */
  background-color: rgb(49, 49, 238);
  color: white;
}
button:hover{
  background-color: green;
  color: yellow;
}
#taskForm{
  display: flex;
  flex-direction: column;
}
#title-content{
  font-size: 20px;
  font-weight: bold;
}
#error{
  font-style: italic;
  color: red;

}
#done{
  width: 60px;
  height: 30px;
}


  